* {
	margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:url(../images/banner.jpg) no-repeat;
    font-family:'Segoe UI';
}
h1 {
    margin-bottom:1rem;
    color:#f3a541;
    font-weight:600;
}

h2 {
    color:#0789c9;
    font-weight:400;
}

p{
	margin-bottom:1rem;
	color:ghostwhite; /*azure,aliceblue*/
	
	
}

img {
    width:100%;
    margin:1em 0;
}

a {
    color:#00324b;
}

main {
    background:#8e8a8a5c;
    padding:3rem;
    margin:3rem auto;
    max-width:800px;
    display:block;/*para IE*/
}
#map {
    height: 500px;
    position: relative;
    width: 100%;
}
